html {
  box-sizing: border-box;
}

*, *::before, *::after {
 box-sizing: inherit;
}

body, section {
  background-color: darkblue;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.table_link {
  color:black;
  text-decoration: underline;
}

.table_link:hover {
  color: green;f
}

form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background: tan;
}

form.manageSchedules {
  align-items: center;
}

input, select {
  margin: 5px;
  border: 3px solid black;
}

.display_only {
  color: white;
}

input[type="submit"] {
  width: 100%;
}

label {
  color: black;
  font-weight: bold;
}

label.vertical {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

div.logout {
  align-items: center;
  display: flex;
  flex-direction: row;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

table {
  color: black;
  background-color: tan;
}

tr {
  background-color: white;
}

td, th {
  padding: 5px;
  border: 1px solid black;
}

section.patient {
  align-items: flex-end;
  background-color: white;
  border: solid black;
  display: none;
}

div.info {
  background-color: white;
  border: 5px solid tan;
  color: black;
  margin-top: 1rem;
  padding: 1rem;
  width: 15rem;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.success {
  color: green;
  font-weight: bolder;
  text-align: center;
}

.check {
  color: darkgreen;
  text-align: center;
}

div.employees {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

section.employees {
  width: fit-content;
}

form.employees,
table.employees {
  margin: 0;
  width: 100%;
}

form.employees div {
  display: flex;
  flex-direction: row;
}

form.salary {
  margin-top: 0;
}
