html {
  box-sizing: border-box;
}

*, *::before *::after {
 box-sizing: inherit;
}

body, section {
  background-color: darkblue;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background: tan;
}

input, select {
  margin: 5px;
  border: 3px solid black;
}

.display_only {
  color: white;
}

input[type="submit"] {
  width: 100%;
}

label {
  color: black;
  font-weight: bold;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  color: black;
  background-color: tan;
}

tr {
  background-color: white;
}

td, th {
  padding: 5px;
  border: 1px solid black;
}

section.patient {
  align-items: flex-end;
  background-color: white;
  border: solid black;
  display: none;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}
